body {
    margin: 0;
    padding: 0;
    background: url('./images/bmw.jpg') no-repeat center center fixed; 
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    /* background: rgba(255, 255, 255, 0.1);  */
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    backdrop-filter: blur(2px);
    /* border: 1px solid rgba(255, 255, 255, 0.3);  */
    margin-left: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: 20px;
    
}

.input-container {
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
    padding-left: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.601);
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(92, 92, 240);
    margin-left: 20px;
    z-index: 100;
}

input[type="submit"] {
    width: 90%;
    padding: 12px;
    background-color: rgba(20, 17, 17, 0.732); 
    border: none;
    margin-left: 20px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

input[type="submit"]:hover {
    background-color: #4CAF50;
}

.terms-container {
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 20px;
}

.terms-container input {
    margin-right: 5px;
    margin-left: 20px;
}

.terms-container a {
    color: #1ecf24;
    text-decoration: none;
}

.terms-container a:hover {
    text-decoration: none;
}


/* Media Queries */


@media (min-width: 1024px) {
    .container {
        width: 400px; 
        padding: 30px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 16px; 
    }

    input[type="submit"] {
        font-size: 18px;

    }

    .terms-container {
        font-size: 16px; 
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        width: 350px; 
        margin-left: 20px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 15px;
    }

    input[type="submit"] {
        font-size: 16px; 
    }

    .terms-container {
        font-size: 15px; 
    }
}


@media (max-width: 768px) and (min-width: 480px) {
    body {
        background-size: cover; 
    }

    .container {
        width: 90%; 
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        padding: 20px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 14px;
        width: 100%; 
    }

    input[type="submit"] {
        font-size: 16px; 
        
    }

    h1 {
        font-size: 24px; 
    }

    .terms-container {
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    body {
        background-size: cover; 
    }

    .container {
        width: 100%; 
        height: auto; 
        margin-left: 0;
        padding: 15px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 13px; 
        padding-left: 25px; 
    }

    input[type="submit"] {
        font-size: 14px; 
    }

    h1 {
        font-size: 20px; 
    }

    .terms-container {
        font-size: 13px;
    }
}
